* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  border: 2px solid black;
  border-radius: 8px;
  width: 23%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.uni-height {
    height: 600px;
}