* {
  box-sizing: border-box;
}

/* Create four equal columns that floats next to each other */
.column {
  border: 2px solid black;
  border-radius: 6px;
  width: 23%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.uni-height {
    height: 600px;
}

.col-height {
  height: 34em;
}

.incontact-col {
  background-color: #042f66;
  color: white;
}
.process-col {
  background-color: rgb(221, 176, 63);
  color: white;
}
.won-col {
  background-color: darkgreen;
  color: white;
}
.loss-col {
  background-color: firebrick;
  color: white;
}