@import "./index.scss";

nav.navbar {
  padding: 1rem 2rem;

  @include md {
    padding: 1.5rem 2rem;
  }

  & .btn {
    padding: 0.575rem 0.95rem;
    border-radius: 10px;
  }
}

.bgstyle {
  background-color: $primary-color;
}

.icons,
.logo {
  width: 50px;
  height: 50px;
}

.github-icon {
  height: 46px;
  width: 30px;
  color: white;
}
